MYSQL_READ_HOST=''
MYSQL_READ_DATABASE=''
MYSQL_READ_USERNAME=''
MYSQL_READ_PASSWORD=''
MYSQL_READ_PORT=3306

MYSQL_WRITE_HOST=''
MYSQL_WRITE_DATABASE=''
MYSQL_WRITE_USERNAME=''
MYSQL_WRITE_PASSWORD=''
MYSQL_WRITE_PORT=3306

TEST_MYSQL_READ_HOST='127.0.0.1'
TEST_MYSQL_READ_DATABASE=''
TEST_MYSQL_READ_USERNAME='root'
TEST_MYSQL_READ_PASSWORD=''
TEST_MYSQL_READ_PORT=30306

TEST_MYSQL_WRITE_HOST='127.0.0.1'
TEST_MYSQL_WRITE_DATABASE=''
TEST_MYSQL_WRITE_USERNAME='root'
TEST_MYSQL_WRITE_PASSWORD=''
TEST_MYSQL_WRITE_PORT=30306

MEMCACHE_SERVERS=''

SQLITE_DATABASE_PATH='./db'

IS_SANDBOX='true'
IS_DEV='true'
IS_STAGING='false'

LATTE_CACHE_DIRECTORY='/tmp/cache/latte/'
LATTE_TEMPLATES_DIRECTORY='templates/'

LOGGER_PATH='../log'
LOG_LEVEL='debug' # possible values: debug, info, notice, warning, error, critical, alert, emergency
