<h1>
	{$model['name']}
	<em> — ID: {$model['id']}</em>
</h1>
<p>
	<img src="{$model['image']}" alt="{$model['name']}" />
</p>
<ul>
	<li>
		<em>Harvest Code: </em>
		{$model['harvest_code']}
	</li>
	<li>
		<em>ID: </em>
		{$model['id']}
	</li>
	<li>
		<em>Image: </em>
		{$model['image']}
	</li>
	<li>
		<em>Name: </em>
		{$model['name']}
	</li>
	<li>
		<em>Studio: </em>
		{$model['studio']}
	</li>
	<li>
		<em>Username: </em>
		{$model['username']}
	</li>
</ul>